
.horizon-image{
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    margin-right: 4vb;
    margin-top: 4vb;
    margin-left: 4vb;
    margin-right: 4vb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4vb;
background: linear-gradient(90deg, rgba(123, 74, 226, 0.08) 38.38%, rgba(73, 48, 136, 0.08) 71.4%, rgba(9, 14, 22, 0.08) 100%);
}
.horizon-image img{
    width: 250%;
    border-radius: 2vb;
    box-shadow: 5vb 5vb 5vb rgba(0, 0, 0, 0);
}


.about-text{
    padding-left: 5vb;
    text-align: left;
    color: white;
    font-size: 1.2rem;
    
}
.about1{
    flex:1;
    width: 90vw;
    height: 100vh;
    margin: 4.5%;
    margin-top: 10%;
    border-radius: 4.8vb;
}
.world-achivement-box{
    border-radius: 2.8vb;
    border: 0.1vb solid #7B4AE2;
    padding: 2vb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.world-achivement{
    margin: 4.2vb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.world-achivement-box h1{
    color: #7B4AE2;
    font-family: Poppins;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 2vb;
}
.world-achivement-box p{
    color: rgba(255, 255, 255, 0.60);
    font-family: Poppins;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.middle{
    background: rgba(123, 74, 226, 0.20);
}

@media (max-width: 480px) { /* Smartphones */
    .horizon-image {
        flex-direction: column;
        margin: 1vh;
    }

    .horizon-image img {
        width: 100%;
        border-radius: 1vh;
        box-shadow: 2vb 2vb 2vb rgba(0, 0, 0, 0);
    }

    .about-text {
        padding-left: 1vw;
        font-size: 0.9rem;
    }

    .world-achivement-box {
        margin: 3%;
        margin-left: 4%;
        flex-direction:1 column;
        padding: 3vb;
    }


    .middle{
        margin-left: 10%;
        size: 50%;
        flex-direction:1 column;
        padding: 3vb;
        
    }

    .end{
        margin-left: 10%;
    }

    .middle h1{
        font-size: 20rem;
    }


    .world-achivement-box h1 {
        font-size: 1.8rem;
        margin-right: 0.5vb;
    }



    .world-achivement-box p {
        font-size: 0.8rem;
    }
}